<div class="w-full h-screen">
  <main class="flex justify-center mx-auto w-full max-w-[calc(300px+604px+300px)]">
    <!-- Navigation -->
    @if (!(screenSize.isHandset$ | async)) {
      <App-navigation class="flex-1" />
    }

    <!-- Posts section -->
    <div class="min-w-[420px] lg:max-w-[600px] w-full">
      <App-post-feed />
    </div>

    <!-- Job listings -->
    @if (screenSize.isWeb$ | async) {
      <div class="max-w-[300px] max-h-screen h-auto w-full sticky top-0">
        <App-job-listings />
      </div>
    }
  </main>
</div>
