@if (iconAlias() === "search") {
  <hlm-dialog>
    <button brnDialogTrigger><img [src]="icon()" /></button>
    <hlm-dialog-content *brnDialogContent="let ctx">
      <hlm-dialog-header>
        <h3 brnDialogTitle hlm>Edit profile</h3>
        <p brnDialogDescription hlm>Make changes to your profile here. Click save when you're done.</p>
      </hlm-dialog-header>
      <hlm-dialog-footer>
        <button hlmBtn type="submit">Save changes</button>
      </hlm-dialog-footer>
    </hlm-dialog-content>
  </hlm-dialog>
} @else {
  <button (click)="routeTo(iconAlias())" [routerLink]="iconRoute() === '/search' ? '' : iconRoute()">
    <img [src]="icon()" />
  </button>
}
