<div class="flex items-start justify-center ml-auto sticky top-0">
  <div class="w-full flex flex-col justify-center items-center">
    @for (icon of iconArray; track $index) {
      <div class="w-16 h-16 inline-flex items-center justify-center ml-auto">
        @if (icon.alias === navigationState()) {
          <App-nav-buttons [iconType]="icon.icon.solid" [icon]="icon" (onClick)="changeState($event)" />
        } @else {
          <App-nav-buttons [iconType]="icon.icon.outline" [icon]="icon" (onClick)="changeState($event)" />
        }
      </div>
    }
  </div>
</div>
